* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --bg: #613594;
    background: url("./images/backg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.player {
    width: 640px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 1px 10px;
    position: relative;
    border-radius: 100px;
}

.control, #current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#current {
    text-align: right;
}

.bar {
    --space: -4px;
    background-color: rgba(148, 148, 224,.3);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 100px;
    z-index: -2;
}

#progress {
    display: block;
    width: var(--progress, 0%);
    background-color: rgba(2, 10, 56,.3);
    transition: width 1s linear;
    height: 100%;
}

@media screen and (max-width: 475px) {
    .player {
        width: 90%;
        justify-content: space-around;
        align-items: center; 
        padding: 1px 10px;
        position: relative;
    }

    #title {
        font-size: 12px;
    }
}